nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
nav ul li {
  list-style: none;
  margin-left: 0px;
  display: inline-block;
  color: white;
  padding: 0px;
  overflow: hidden;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: flex;
}
nav ul li p {
  color: white;
  text-decoration: none;
}
#register-login {
  float: right;
  text-align: center;
  justify-content: flex-end;
}
.main {
  font-family: "Anton", sans-serif;
  background-image: linear-gradient(
    to right,
    brown,
    brown,
    yellow,
    white,
    yellow,
    brown,
    brown
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: brown;
  padding: 9vw 2vw 0vw 2vw;
  text-align: center;
  font-size: 7vw;
}
#paragraph {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  text-align: center;
}
em {
  color: #fff;
  text-align: center;
  align-items: center;
}
.back_video {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(1, 1, 1, 0.4);
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .back_video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back_video {
    width: auto;
    height: 100%;
  }
}
#coantainer {
  background-image: url("/images/bg2.jpg");
  background-position: center;
  background-size: absolute;
  background-attachment:fixed ;
  /* position: fixed; */

}
.chat {
  font: Anton;
  color: #f8bd08;
  font-size: 4vw;
  text-shadow: 2px 2px opx navy, 2px 2px 4px white;
}
#secondp{ 
  font: Lato;
  color: white;
  width: 300px;
  margin: 20px;
  position: absolute;
  padding: 10px;
  border: 2px solid #fff;
  background-color: transparent;
}
.hidden {
  display: none;
}
.images {
  display: flex;
  float: right;
}
.coantiner .images img {
  margin: 0vw 1vw 0vw 1vw;
  border-style: solid;
  border-color: gray;
}
#squareblock {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: rgb(70, 26, 26);
  color: #fff;
  font: normal 1.2vw arial;
}
#squareblock2 {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: rgb(70, 26, 26);
  color: #fff;
  font: normal 1.2vw arial;
}
#squareblock2:hover {
  opacity: 0.9;
  transition: 2s ease;
}
#squareblock:hover {
  opacity: 0.9;
  transition: 2s ease;
}
.companyimage {
  display: flex;
}
.generatorimage {
  display: flex;
}
#pixlr {
}
#dalle {
}
#chatbox {
  font: Lato;
  color: white;
  width: 300px;
  margin: 20px;
  position: absolute;
  padding: 10px;
  border: 2px solid #fff;
  background-color: transparent;
}
#ibmchat {
  background-color: rgb(70, 26, 26);
  color: #fff;
  font: normal 1.2vw arial;
}
#amazonchat {
  background-color: rgb(70, 26, 26);
  color: #fff;
  font: normal 1.2vw arial;
}
.generator {
  font: Anton;
  color: #f8bd08;
  font-size: 4vw;
  text-shadow: 2px 2px opx navy, 2px 2px 4px white;
}
.headingcompany {
  font: Anton;
  color: #f8bd08;
  font-size: 4vw;
  text-shadow: 2px 2px opx navy, 2px 2px 4px white;
}
#companychat {
  font: Lato;
  color: white;
  width: 300px;
  margin: 20px;
  position: absolute;
  padding: 10px;
  border: 2px solid #fff;
  background-color: transparent
}
.companyimage{
  float: left;
  display: flex;
}
.generatorimage{
  float: left;
}